h2{
    color: white ;
    
}

body{
    background: url(./images/photo_2024-08-11_17-13-52.jpg);
    background-position:center ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 600px){
    body{
        background-size: contain;
        background-size: cover;
        background-position:center ;
        background-attachment: fixed;
        background-repeat: no-repeat;
        
    }
   
}